<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.italker.mapper.PushMapper">
    <insert id="saveHistory" parameterType="com.example.italker.pojo.entity.PushHistory" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="String" order="BEFORE">
            select REPLACE(UUID(),"-","")
        </selectKey>-->
        insert into tb_push_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
        id,createdAt,updateAt,
        <if test="entity != null">entity,</if>
        <if test="entityType != null">entityType,</if>
        <if test="receiverId != null">receiverId,</if>
        <if test="receiverPushId != null">receiverPushId,</if>
        <if test="senderId != null">senderId,</if>
            <if test="arrivelAt != null">arrivelAt,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        (SELECT REPLACE(UUID(), '-', '') AS id),#{createdAt,jdbcType=TIMESTAMP},#{updateAt,jdbcType=TIMESTAMP},
        <if test="entity != null">#{entity,jdbcType=VARCHAR},</if>
        <if test="entityType != null">#{entityType,jdbcType=INTEGER},</if>
        <if test="receiverId != null">#{receiverId,jdbcType=VARCHAR},</if>
        <if test="receiverPushId != null">#{receiverPushId,jdbcType=VARCHAR},</if>
        <if test="senderId != null">#{senderId,jdbcType=VARCHAR},</if>
            <if test="arrivelAt != null">#{arrivelAt,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>


    <update id="saveOrUpdate">
        update tb_push_history
        <set>
            <if test="updateAt != null">#{updateAt,jdbcType=TIMESTAMP},</if>
            <if test="entity != null">#{entity,jdbcType=VARCHAR},</if>
            <if test="entityType != null">#{entityType,jdbcType=INTEGER},</if>
            <if test="receiverId != null">#{receiverId,jdbcType=VARCHAR},</if>
            <if test="receiverPushId != null">#{receiverPushId,jdbcType=VARCHAR},</if>
            <if test="senderId != null">#{senderId,jdbcType=VARCHAR},</if>
            <if test="arrivelAt != null">#{arrivelAt,jdbcType=TIMESTAMP},</if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
<!--    <select id="getFollowById" resultType="com.example.italker.pojo.entity.UserFollow">-->
<!--        select * from tb_user_follow tuo-->
<!--        inner join tb_user tu on tuo.targetId = tu.id-->
<!--        where tuo.originId = #{originId}-->
<!--    </select>-->

    <resultMap id="FollowById" type="com.example.italker.pojo.entity.UserFollow">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="originId" jdbcType="VARCHAR" property="originId"/>
        <result column="targetId" jdbcType="VARCHAR" property="targetId"/>
        <collection property="origin" ofType="com.example.italker.pojo.entity.User">
            <id column="id" jdbcType="VARCHAR" property="id" />
            <result column="id" jdbcType="VARCHAR" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="phone" jdbcType="VARCHAR" property="phone" />
            <result column="password" jdbcType="VARCHAR" property="password" />
            <result column="portrait" jdbcType="VARCHAR" property="portrait" />
            <result column="description" jdbcType="VARCHAR" property="description" />
            <result column="token" jdbcType="VARCHAR" property="token" />
            <result column="pushId" jdbcType="VARCHAR" property="pushId" />
            <result column="createAt" jdbcType="TIMESTAMP" property="createAt" />
            <result column="updateAt" jdbcType="TIMESTAMP" property="updateAt" />
            <result column="sex" jdbcType="INTEGER" property="sex" />
        </collection>
        <collection property="target" ofType="com.example.italker.pojo.entity.User">
            <id column="id" jdbcType="VARCHAR" property="id" />
            <result column="id" jdbcType="VARCHAR" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="phone" jdbcType="VARCHAR" property="phone" />
            <result column="password" jdbcType="VARCHAR" property="password" />
            <result column="portrait" jdbcType="VARCHAR" property="portrait" />
            <result column="description" jdbcType="VARCHAR" property="description" />
            <result column="token" jdbcType="VARCHAR" property="token" />
            <result column="pushId" jdbcType="VARCHAR" property="pushId" />
            <result column="createAt" jdbcType="TIMESTAMP" property="createAt" />
            <result column="updateAt" jdbcType="TIMESTAMP" property="updateAt" />
            <result column="sex" jdbcType="INTEGER" property="sex" />
        </collection>
    </resultMap>


        <select id="getFollowById" resultMap="FollowById">
            select * from tb_user_follow tuo
            inner join tb_user tu on tuo.targetId = tu.id
            where tuo.originId = #{originId}
        </select>




</mapper>